# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage/

# typescript build info
*.tsbuildinfo

# prisma
packages/database/generated/

# misc
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
